/* STEP 1 (Create a file `styles.css`.)*/


li{
    display: inline;  /*  STEP 3 (Change the display of the navbar to make it inline.) */

    
    

    
}

ul,a{
    text-decoration: none;
    color: #fffb;
    margin-left: 40px;
    font-size: 1.3em;
    float: right;
    background-color: #000b;
    
    
}

video{
    margin-left: 40%;
}

.home{
    padding-top: 60px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

body{
    background: url(./gradirent/8558199.jpg)center /cover;
}

h1.title{
 background-color: #fff5;
 box-shadow:.4rem;
 display: flex;
 justify-content: center;
 align-items: center;
 
}

.table{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    backdrop-filter: blur(7px);
    box-shadow:  0.6rem 0.8rem #0005;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: .8rem;
}



#resume{
    margin-bottom: 60px;
}
.title{
    padding: .6em;
    width: 59vw;
    position: absolute;
    top: -8%;
    left:  .8%;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
}

.table{
    margin: auto;
    margin-top: 6%;
    width: 60vw;
    height: 111vh;
    background-color: #fff5;
    
}

td img{
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;
    vertical-align: middle;
}
table, th, td{
    padding: 1rem;
}

.footer-m{
    margin-left: 12%;
}

footer{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo{
    position: absolute;
    top: 60%;
}
